@keyframes rotate {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}


#light {
    position: absolute;
    translate: -50% -50%;
    height: 150px;
    width: 200px;
    background: linear-gradient(
        to bottom right,
        red,
        yellow
    );
    border-radius: 50%;

    z-index: -1;


    transition: top , left;



    filter: blur(200px);
    animation: rotate 15s infinite;
    opacity: 0;

    pointer-events: none;
}

#cursor {
    position: absolute;

    z-index: 10;
    translate: -50% -50%;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: aqua;
    opacity: 0;

    pointer-events: none;
    
}